.layoutContainer h3 {
  color: black;
  text-align: center;
margin-top:20px;
margin-bottom: 70px;
font-weight: lighter;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 20px;
  align-items: center;
  text-align: center;
  color: rgb(20, 20, 20);
  font-weight: lighter;
  /* background-color: red; */
}
.productChoiceConfig {
  display: grid;
  grid-template-rows: auto auto auto auto;
  /* background-color: aqua; */
  height: 300px;
  align-self: start;
  height: auto;
  border-right: 0.2px solid rgb(214, 208, 208);
}
.children {
  align-self: start;
  display: grid;
}
.productChoiceConfig div {
  margin: 40px;

}
