.cartContainer {
  margin-left: 70px;
  /* background-color: blue; */
  margin-top: 30px;

}
.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.productslist {
  display: grid;
  grid-template-columns: 2.7fr 1.5fr 1fr 1fr;
}
.container li {
  list-style: none;
  text-align: center;
  padding-right: 200px;
}
.quantity {
    display: grid;
grid-template-columns: 1fr 1fr 1fr ;
    text-align: center;
align-content: center;
border: 2px solid grey;
}
.quantity button{
    padding: 5px;
    background-color: white;
    color: rgb(46, 46, 46);
    border: 1px solid grey;
    width: 30px;
}
.quantity button:hover{
    background-color:#ff5858;
    color: whit;
}
.price {
  text-align: center;
  align-content: center;
}
.total {
  text-align: center;
  align-content: center;
}
.tableNames {
  margin-left: 70px;
  display: grid;
  grid-template-columns: 2fr 0.9fr 0.83fr 0.65fr;
  padding: 10px;
}
.tableNames div{
    padding-left: 50px;  
}
.listContainer{
    display: grid;
    grid-template-columns: auto auto;
}
.container a:hover{
    text-decoration: underline;

}