.ProductsContainer {
  display: grid;
  text-align: center;
  color: rgb(53, 52, 52);
}

.ProductsContainer ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}
